.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w100 {
  width: 100%;
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.pl2 {
  padding-left: 2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right-top-corner {
  right: 15px;
  top: 15px;
}

.left-top-corner {
  left: 15px;
  top: 15px;
}

.main {
  width: calc(100% - 300px)
}

.html-manager {

  background-color: #3c40c622;
}

input {
  padding: 5px 5px 5px 5px;
  border: 1px solid #ccc
}